main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  #encode-container {
    border: 1px solid red;
    width: 50vw;
    display: flex;
    flex-direction: column;

    #encode-form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  .submit-result-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;

    button {
      height: 60px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .input-result {
      width: 100%;
    }
  }
}
